// Light color to use against dark backgrounds. 
$first-color: #ffffff;

// Dark color to be used against light backgrounds. 
$second-color: #000000; 

// Color used to accentuate the theme.
$third-color: #e8cfa0;